body {
    font-family: "Georgia";
    }
    
#top {
    width: 800px;
    background: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid lightgray;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}

img {
    border-radius: 20px;
}